body {
    padding: none;
    margin: 0 auto 0 auto;
    text-align: center;
    position: relative;
    user-select: none;
}

header {
    border: black 5px solid;
    display: flex;
    padding: 5px;
    background-color: rgb(180, 159, 37); 
    height: fit-content;   
}

.top {
    margin: 0 auto;
    display: flex;
}
@media(min-width: 500px){
    .top{
        margin-left: 0 auto;

    }
}
.cat-image {
    width: 150px;
    height: 100px;
    margin: 0px 15px 0px 100px;
}
h1 {
    color: black;
    font-weight: bolder;
    font-size: 40px;
    font-style: italic;
    margin: 5px 30px 0px 10px;
}
@media (max-width: 500px){
    .cat-image {
        width: 75px;
        height: 50px;
        margin: 0px 7.5px 0px 5px;
    }
}
@media (max-width: 500px){
    h1{
        font-size: 25px;
    }
}
span {
    margin-left: 75px;
    font-size: 30px;
    color: rgb(64, 14, 131);
}
@media (max-width: 500px){
    span{
        font-size: 17px;
        margin-left: 50px;
    }
}
p{
    font-size: larger;
    margin: none;
}
h2{
    margin: 5px;
}
.gifs-only {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
    gap: 20px;
}
.emotion-picker {
    position: relative;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    margin: 0px auto 0px auto;
}
.emotions-container{
    border-radius: 5px;
    border: 2px solid rgb(175, 171, 171);
    padding: 0px;
}
.emotion-display {
    display: flex;
    flex-direction: row;
    border: 1px rgb(197, 204, 159) solid;
    padding: 1px;
    margin: 0px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;
}
.highlight {
    color: red;
    accent-color: red;
    font-weight: bold;
    background-color: rgba(224, 210, 210, 0.445);
}

.get-image-btn {
    background-color: rgb(64, 14, 131);
    color: rgb(187, 216, 223);
    border: none;
    border-radius: 10px;
    width: fit-content;
    padding: 15px;
    font-size: large;
    font-weight: bold;
    margin: 0 auto 0 auto;

}
.modal-popup {
    display: none;
    position: fixed;
    top: 140px;
    right: 0;
    left: 0;
    margin: 0 auto 0 auto;
    padding: 25px;
    max-width: 300px;
    height: 330px;
    background-color: rgb(119, 114, 86);
    border-radius: 7px;
    border: 5px solid rgb(109, 104, 78);
}
.cats {
    width: 250px;
    height: 250px;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}
.emotion-outcome {
    color: antiquewhite;
    font-size: large;
    border-bottom: white solid 1px;
}
.close-modal-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 10px;
    border-radius: 20%;
    background-color: rgb(218, 220, 235);
    border: none;
    width: fit-content;
    font-size: larger;
}
